<header *ngIf="title | async" >{{title | async}}</header>
<router-outlet></router-outlet>
<footer>
    <div class="btn-icon">
        <a href="#" [routerLink]="['/home']" routerLinkActive="home" >
            <img src="/assets/svg/icon-routes.svg" alt="">
            RUTAS
        </a>
    </div>
    <div class="btn-icon">
        <a href="#" [routerLink]="['/cai']" routerLinkActive="cai" >
            <img src="/assets/svg/icon-cai.svg" alt="">
            CAI
        </a>
    </div>
    <div class="btn-icon">
        <a [routerLink]="['/alerts']" routerLinkActive="community" >
            <img src="/assets/svg/icon-alerts.svg" alt="">
            ALERTA
        </a>
    </div>
    <div class="btn-icon">
        <a [routerLink]="['/community']" routerLinkActive="community">
            <img src="/assets/svg/icon-community.svg" alt="">
            COMUNIDAD
        </a>
    </div>
</footer>