<header *ngIf="title | async" >{{title | async}}</header>
<div class="wrapper-container">
    <router-outlet></router-outlet>
</div>
<footer>
    <div class="btn-icon">
        <a href="#" [routerLink]="['/home']" routerLinkActive="active" >
            <i class="icon-icon-routes"></i>
            RUTAS
        </a>
    </div>
    <div class="btn-icon">
        <a href="#" [routerLink]="['/cai']" routerLinkActive="active" >
            <i class="icon-icon-cai"></i>
            CAI
        </a>
    </div>
    <div class="btn-icon">
        <a [routerLink]="['/alerts']" routerLinkActive="active" >
            <i class="icon-attention"></i>
            ALERTA
        </a>
    </div>
    <div class="btn-icon">
        <a [routerLink]="['/community']" routerLinkActive="active">
            <i class="icon-icon-community"></i>
            COMUNIDAD
        </a>
    </div>
</footer>