<div class="wrapper">
        <div class = "sep">
            <p>Hoy</p>
        </div>
        <div class="redAlert">
            <i class="icon-attention"></i>
            <p class = "danger">Estás en una zona de inseguridad alta</p>
        </div>  
        <div class = "sep">
            <p>Ayer</p>
        </div>
        <div class="yellowAlert">
            <i class="icon-attention"></i>
            <p class = "danger">Estás en una zona de inseguridad media</p>
        </div>            
</div>

